@import "Scss/__mixins";
input { 
    vertical-align: bottom;
    &:focus{
        @include on-focus();
    }
    &.invalid{
        border-color: #cd1e0a;
    }
    &.valid{
        border-color: forestgreen;
    }
    &:read-only{
        opacity: 0.8;
        border-color: #00080027;
        cursor: not-allowed;
    }
}