@import "Scss/__variables";
input[type=file] {
    width: 0!important;
    height: 0;
    border: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & ~ label {
        display: inline-block;
    }
}
.upload-file-container {
    .file-desc{
        border-right: 0 !important;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    }
    .delete-file{
        border-left: 0 !important;
        margin-right: 0.5rem;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }
    .result-table, 
    .result-json {
        width: 100%;
        height: -webkit-fill-available;
        overflow: auto;
        display: block;
        border: $input--border;
        border-radius: $radius;
        background: #3a3434;
        color: #f1f1f1;
    }
}