@import "Scss/__variables";
input[type=file] {
    width: 0!important;
    height: 0;
    border: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & ~ label {
        display: inline-block;
        margin: 0 0.5rem 0 0;
    }
}
.upload-file-container {
    .result-table, 
    .result-json {
        width: 1200px;
        height: 25rem;
        margin: 0.5rem auto;
        overflow: auto;
        display: block;
        border: $input--border;
        border-radius: $radius;
        background: #3a3434;
        color: #f1f1f1;
    }
}