@import "Scss/__variables";

[type="checkbox"] {
  vertical-align: text-top;
  margin-top: 8px;
}
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  cursor: pointer;

  &:focus-within {
    .radio__label {
      opacity: 1;
    }
  }
}

@mixin checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 13px;
  width: 7px;
  margin-left: 4px;
  margin-top: 1px;
  border-bottom: 3px solid $primary--color;
  border-right: 3px solid $primary--color;
}

.checkbox__label {
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.checkbox__input {
  display: flex;

  input[type="checkbox"] {
    opacity: 0;
    margin: 0.1rem;
    width: 0;
    height: 0;

    &:focus + .checkbox__control {
      box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em $primary--color;
      border-color: $primary--color;
    }
  }
  input[type="checkbox"]:checked + .checkbox__control {
    border-color: $primary--color;
  }
  input[type="checkbox"]:checked + .checkbox__control:after {
    content: "";
    @include checkmark();
  }
  .checkbox__control {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: $radius;
    border: 0.1em solid currentColor;
    transform: translateY(0em);
  }
}
