@import "Scss/__mixins";
table{
    border-collapse: collapse;
    border: 0 !important;
    background: inherit !important;
    color: inherit !important;
    [contenteditable]{
        white-space:nowrap;
        border: 1px solid transparent;
        padding: 0.15rem;
        &:focus{
            border-radius: $radius;
            background: $bg--secondary;
            @include on-focus();
        }
    }
    tr{ 
        &:nth-child(even){background-color: $bg--secondary;}
        &:hover {background-color: #eee;}
        td input {
            width: max-content !important;
        }
        td, 
        th{
            text-align: left;
            border: $input--border;
            padding: 8px;
        }
        th{
            font-weight: normal;
            padding-top: 12px;
            padding-bottom: 12px;
            background-color: #f1f1f1;
        }
    }
}