@import "./_variables";
@import "./_spacing";
@import "./_display";
@import "./_typography";

body {
    @include font-style();
    background: #f1f1f1;
} 
*,
*:before,
*:after {
    box-sizing: border-box;
}

// Input Textarea
input, 
textarea, 
select{
    border: $input--border;
    border-radius: $radius;
    @include font-style();
    @include input-padding(0.5);
    &:not([type="radio"]){
        width: 100%;
    }
}
svg{
    vertical-align: text-bottom;
}
label{
    margin-bottom: 0.5rem;
    display: block;
}
label[for]{
    margin-right: 0.5rem;
}
.line-height--2{
    line-height: 2;
}
.float--left{
    float: left;
}
.float--right{
    float: right;
}
.clearfix{
    clear: both;
    overflow: auto;
}
.absolute{
    position: absolute;
}
.relative, .block{
    position: relative;
}